

/*******************
	RESETS
*******************/

body{
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin: 0;
	padding: 0;

	&.s-no-scroll{
		overflow-y: hidden;
	}
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	margin-top: 0;
	color: $brand-color;
}

h1{
	font-size: 1.9rem;
	margin-bottom: 3px;
}

h2{
	margin-bottom: $default-margin;
}

h3{
	margin-bottom: $default-margin/2;
}

p{
	font-size: 0.9em;
	line-height: 1.4rem;
	margin-top: 0;
}

a{
	color: inherit;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

/**********************
	TEXT FORMATTING
**********************/
@mixin smalltext{
	font-size: 0.7rem;
	font-weight: 700;
	line-height: 0.8rem;
}

	.smalltext{
		@include smalltext;
		text-transform: uppercase;
	}

@mixin boldtext{
	font-size: 1.1rem;
	font-weight: 700;
}

label{
	@include smalltext;
	text-transform: uppercase;
	
	display: inline-block;

	color: $low-contrast; 
}

.grey-link{
	color: $low-contrast;
	font-size: 0.8rem;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

.phone-link{
	@include boldtext;
	margin-bottom: $default-margin;
}

/**********************
	BUTTONS
**********************/
button{
	background-color: $brand-color;
	padding: 10px $default-margin;
	color: white;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 10px;
	border: 0; 
	outline: none;
	cursor: pointer;

	&:hover{
		background-color: darken($brand-color,10%);
	}

	&.icon{
		background-color: transparent;

		img{
			width: 15px;
		}
		
		&.icon_plain{
			padding: 0 5px;
			vertical-align: middle;
		}
	}

	&.icon_100{
		img{
			width: 10px;
		}
	}
}

/**********************
	CONTAINERS
**********************/
	.box-bordered{
		border: 1px solid $low-contrast;
		padding: $default-margin;
		position: relative;

		&_greybg{
			background-color: darken($vlow-contrast, 5%);
			padding: $default-margin;
			margin-top: $default-margin;
			margin-right: $default-margin;
		}
	}

	.box--footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: darken($vlow-contrast,10%);
		border-top: 1px solid $low-contrast;
		vertical-align: bottom;
	}

	[class*="box-money"]{
		text-align: right;
		padding: $default-margin; 
	}

	.box-money{
		color: $money-color;

		&_finance{
			background-color: $finance-tint;
			color: $finance-color;
			transition: $transition;
			position: relative;
			
			&.s-finance-inactive{
				background-color: $finance-dabled;
				color: $low-contrast;
				text-decoration: line-through;		
			}
		}

		&_finance-total{
			background-color: $finance-tint;
			color: $finance-color;
			position: relative;
		}
	}

/*******************
	GENERAL LAYOUT
*******************/

	header{
		padding: $default-margin;
		oveflow: hidden;
		position: relative;

		.home-link{
			font-size: 0.8rem;
			
			img{
				height: 8px;
			}
		}
	}

	.top-section{
		background-color: $vlow-contrast;
	}

	.content--center{
		max-width: 1000px;
		margin: 0 auto;
		//overflow: hidden;
		position: relative;
	}

	[class^="col"]{
		display: inline-block;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		height: 100%;
	}

	.col{
		&-0{
			width: 10%;
		}
		&-1{
			width: 5%;
		}
		&-2{
			width: 48%;
		}
		&-3{
			width: 19%;
		}
		&-4{
			width: 16%;
		}
	}

/**********************
	METADATA
**********************/

	.details-table{
		label{
			display: inline-block;
			width: 40%;
			text-align: right;
			padding-right: 10px;
		}

		.calculation{
			position: relative;
			margin-bottom: 10px;
		}
	}
		.details--entry{
			display: block;
	    	text-align: left;
	    	padding: 10px 0;
	    	border-bottom: 1px dotted $low-contrast;

	    	&:last-of-type{
	    		border-bottom-width: 0;
	    	}
	    }

	.action{
		vertical-align: bottom;
		text-align: center;
		padding: $default-margin;
		//@extend .g-third;
		display: inline-block;

		.action-icon{
			display: inline-block;
			margin-bottom: 5px;
			width: 24px;  
		}

		.action-label{
			display: block;
			@include smalltext;
			text-transform: uppercase;
		}
	}




/**********************
	FINANCING
**********************/

	$shadow-height: 10px;

	.pinned-section{
		background-color: $vlow-contrast;
		border-bottom: 1px solid $low-contrast;
		z-index: 1000;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -$shadow-height;
			height: $shadow-height - 1;
			
			background-image: radial-gradient(ellipse farthest-side at center top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
			opacity: 0;
			transition: opacity 0.5s linear; 
		}

		&.s-stuck{
			position: fixed;
			top: 0;
			width: 100%;
			
			&:after{
				
				opacity: 1;

			}

			.financing.s-hidden{
				display: none;
			}

			.finance--collapse{
				right: -25px;
			}
		}
	}

	.js--sticky-wrapper{
		transition: height $transition-time_1 $transition-function;
	}

	.financing{
		background-color: white;
		border: 1px solid $finance-color;
		overflow: hidden;

		z-index: 2;
		position: relative;

		.g-third{
			padding: $default-margin;
		}

		p{
			margin-bottom: 0;
		}
	}

	.finance--collapse{
		position: absolute;
		top: $default-margin;
		right: 0;
		transition: right $transition-time_1 $transition-function;
		z-index: 1;
	}


/**********************
	PURCHASES
**********************/

.table--header{
	padding: $default-margin 0 10px;
	text-align: center;
}

.purchase{
	padding: 10px 0;
	display: table-row;

	[class^="col"]{
		display: table-cell;
		padding: $default-margin 0;
		vertical-align: top;
		border-bottom: 1px dotted $border-color;

		&[class*="box-money"]{
			padding: $default-margin;
			font-size: 1.2rem;
		}

		&.box-money_finance{
			padding-right: $toggle-padding;
		}
	}

	.col-1, .col-3, .col-4{
		vertical-align: middle;
	}

	.col-3, .col-4{
		padding-right: 30px;
	}

	.col-1{
		color: $brand-color;
		text-align: center;
	}

	.col-2{
		position: relative;
	}

}
	.description{
		display: block;

		font-size: 1.1rem;
		min-height: 2em;
	}

	.description-footer{
		//position: absolute;
		//bottom: 0;
		margin-top: $default-margin;
	}

	.unit-pill{
		background-color: $vlow-contrast;
		border-radius: 10px;
		color: $dark-contrast;
		display: inline-block;
		@include smalltext;
		margin-right: $default-margin;
		font-size: 0.75rem;
		
		div{
			display: inline-block;
		}

		.unit--quantity{
			border-radius: 10px 0 0 10px;
			background-color: $money-color;
			color: white;
			padding: 5px 10px;

			&:after{
				content: "x";
			}
		}

		.unit--price{
			padding: 5px 15px 5px 5px;
			color: $money-color;
			
			&:before{
				//content: "$"; //THIS WILL BE HANDLED BY THE UNIVERSAL MONEY SYMBOL CLASS
			}
			&:after{
				//content: " ea";
			}
		}
	}

	.purchase-meta{
		display: inline-block;
	}


/********************************
	TOTALS AND FINANCING FOOTER
********************************/

.purchases--totals{
	position: relative;
	margin-bottom: $default-margin;
	display: table-row;

	[class^='col']{
		display: table-cell;
		padding: $default-margin;
	}

	.col-3{
		padding-right: 30px;
	}
}

$or-circle-size: 24px;
 
.totals--or{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
	background-color: $dark-contrast;
	border-radius: $or-circle-size;
	line-height: $or-circle-size;
	width: $or-circle-size;
	height: $or-circle-size;
	text-align: center; 
	display: inline-block;
	color: white;
	font-size: 0.6rem;
}

.finance-confirmation{
	border: 1px solid $finance-color;
	padding: $default-margin;
	text-align: center;
}

/***********************
	FOOTER
************************/

	footer{
		@extend .content--center;

		padding-bottom: 50px;

	}

		.disclaimers{
			@include smalltext;
			color: $low-contrast;
		}



/**********************
	CURRENCY FORMATTING
**********************/


[class^="dollars"]:before, .currency-symbol:before{
	
	.dollar &{ 
		content: '$';	
	}

	.pound &{
		content: '\00A3';
	}

	.yen &{
		content: '\00A5';
	}

	.euro &{
		content: '\20AC';
	}
	
}

.dollars{	
	&_200{
		font-size: 1.1rem;
	}

	&_400{
		font-size: 1.4rem;
	}

	&_700{
		font-size: 1.8rem;
	}
}

[class^="cents"]{
	vertical-align: top;
	display: inline-block;
	margin-left: -5px;
	margin-top: 2px;

	&:before{
		content: '.';
	}
	&:empty{
		&:after{
			content: '.00';
		}
		visibility: hidden;
	}
}

.cents{
	&_200{
		font-size: 0.7rem;
		margin-top: 6px;
	}

	&_400{
		font-size: 0.8rem;
	}

	&_700{
		font-size: 0.9rem;
	}
}


/*************************
	COLLAPSIBLE ELEMENTS
*************************/

.collapsible{

	.default-hidden{
		display: none;
	}

	&.s-expanded{
		.default-shown{
			display: none;
		}
		.default-hidden{
			display: block;
		}
	}
}