/*******************
	HELPER CLASSES
********************/
	.h-overflow{
		overflow: hidden;
	}

	.h-ta-center{
		text-align: center;
	}

	.h-mb-100{
		margin-bottom: $default-margin;
	}

	.h-mb-50{
		margin-bottom: $default-margin/2;	
	}

	.h-mb-0{
		margin-bottom: 0;
	}

	.h-mr-100{
		margin-right: $default-margin;
	}

	.h-pt-100{
		padding-top: $default-margin;
	}

	.h-p-0{
		padding: 0;
	}

	.h-pos-center{
		position: absolute;
		top: $default-margin;
		left: 50%;
		transform: translateX(-50%);

		text-align: center;
	}

	.h-mw-400{
		max-width: 400px;
    	margin: 0 auto;
	}

	.h-f-right{
		position: absolute;
		top: $default-margin;
		right: $default-margin;
		text-align: right;
	}

	.h-va-super{
		vertical-align: super;
	}

/*******************
	COLOUR OVERRIDES
********************/

.c-price{color: $money-color;}
.c-finance{color: $finance-color;}
.c-brand{color: $brand-color;}

.c-link{color: $link-colour;}

.c-grey{color: $low-contrast;}
.c-white{color: white;}
.c-black{color: black;}

.bg-finance{background-color: $finance-tint;}
.bg-brand{background-color: $brand-color;} 
.bg-grey{background-color: $vlow-contrast;}
