.lb{
	position: fixed;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9000;
	overflow-y: hidden;
	transition: top $transition-time_2 $transition-function $transition-time_1;

	&.s-open{
		top: 0;
		//overflow-y: auto;
		transition: top $transition-time_2 $transition-function;

		.lb-window{
			opacity: 1;
			transform: translateX(-50%) translateY(0);
			transition: opacity $transition-time_2 $transition-function $transition-time_1, transform $transition-time_2 $transition-function $transition-time_1;
		}
	}
}

.lb-background{
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(black,0.6);
}

.lb-window-scroll{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
}

.lb-window{
	position: relative;
	width: 600px;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	opacity: 0;
	transition: opacity $transition-time_2 $transition-function, transform $transition-time_2 $transition-function;
	margin: 50px 0;

	background-color: white;
}
	
	.lb-window-close{
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		padding: $default-margin;

		z-index: 500;
	}

	.lb-content{
		padding: 2 * $default-margin;
		text-align: center;

		img{
			//margin-bottom: $default-margin;
		}
	}

	.lb-action-area{
		padding: $default-margin;
		background-color: $vlow-contrast;
		position: relative;
		overflow: hidden;
		text-align: center;

		button{
			display: inline-block;
		}

		&--secondary{
			@extend .grey-link;
			display: inline-block;
		}
	}

	.lb-wizard{
		overflow-y: hidden;
		position: relative;

		&.s-step-1{
			.step-1{
				max-height: 1000px;

				.step-content{
					transform: translateY(0);
					opacity: 1;
					transition: opacity $transition-time_2 $transition-function, transform $transition-time_2 $transition-function;
				}
			}

			.step-2{
				background-color: $vlow-contrast;
			}

			.step-2a{
				max-height: 50px;
			}

			.step-2b{
				max-height: 0;

				.step-content{
					transform: translateY(50%);
					opacity: 0;
				}
			}

			.step-3{
				max-height: 0;

				.step-content{
					transform: translateY(50%);
					opacity: 0;
				}
			}
		}

		&.s-step-2{
			.step-1{
				max-height: 0;

				.step-content{
					transform: translateY(-50%);
					opacity: 0;
					transition: opacity $transition-time_2 $transition-function, transform $transition-time_2 $transition-function;
				}
			}

			.step-2{
				background-color: $vlow-contrast;
			}

			.step-2a{
				max-height: 0;
			}
			.step-2b{
				max-height: 300px;
				transition: max-height $transition-time_2 $transition-function;

				.step-content{
					opacity: 1;
					transform: translateY(0);
				}
			}

			.step-3{
				max-height: 0;

				.step-content{
					transform: translateY(50%);
					opacity: 0;
				}
			}
		}

		&.s-step-3{
			.step-1{
				max-height: 0;
			}

			.step-2{
				background-color: white;

				.lb-content{
					padding-bottom: 0;
				}
			}

			.step-2a{
				max-height: 0;
			}
			.step-2b{
				max-height: 300px;
				
				.lb-airplane--hiding-message{
					max-height: 0;
				}

				.step-content{
					opacity: 1;
					transform: translateY(0);
				}
			}

			.step-3{
				max-height: 1000px;

				.step-content{
					transform: translateY(0);
					opacity: 1;
				} 
			}
		}
	}

	.lb-wizard--step{
		overflow-y: hidden;
		transition: max-height $transition-time_2 $transition-function;
	}

	.lb-airplane--hiding-message{
		max-height: 100px;
		transition: max-height $transition-time_2 $transition-function;
		overflow-y: hidden;
	}

	.step-2{
		transition: background-color $transition-time_2 $transition-function;

		.lb-content{
			padding: $default-margin $default-margin * 2;
		}
	}

	.step-content{
		transition: opacity $transition-time_2 $transition-function $transition-time_1, transform $transition-time_2 $transition-function $transition-time_1;
	}

	







