//THIS IS THE ARRAY OF VALUES THAT NEEDS TO BE MAINTAINED (note - currencies seldom change how they are displayed)
//THE LIST READS AS FOLLOWS:
//"CCY" "CCY SYMBOL IF BEFORE" "CCY SYMBOL IF AFTER" "MAJOR UNIT SEPARATOR" "MINOR UNIT SEPARATOR" "SHOW CENTS TRUE/FALSE?"

$ccys: 	"CAD" "$" "" "," "." true,
		"USD" "$" "" "," "." true,
		"SGD" "$" "" "," "." true,
		"NZD" "$" "" "," "." true,
		"AUD" "$" "" "," "." true,
		"MXN" "$" "" "," "." true,
		"ZAR" "R" "" "," "." true,
		"PLN" "" "z\0142" " " "," true,
		"GBP" "\00A3" "" "," "." true,
		"EUR" "\20AC" "" " " "," true,
		"CNY" "\00A5" "" "," "." true,
		"JPY" "\00A5" "" "," "." false,
		"INR" " \20B9" "" "," "." true,
		"AED" "" "د.إ" "," "." true;
			

@each $ccy in $ccys{
	.#{nth($ccy,1)}{
		.divider:before{
			content: "#{nth($ccy,4)}";
		}
		.price-display:before{
			content: "#{nth($ccy,2)}";
		}

		.price-display:after{
			content: "#{nth($ccy,3)}";	
		}

		*[class^="cents"]{
			@if nth($ccy,6) == false {
				display: none !important;
			}

			&:before{
				content: "#{nth($ccy,5)}";		
			} 
		}
	}
} 





///////OTHER STUFF - NOT RELEVANT
.force-show{
	display: inline-block !important;
}

.no-before:before{
	content: '' !important;
}

.price-display:before{
	font-size: 1.6rem;
}

.ccy-container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 430px;
	transform: translate(-50%,-50%);

	background-color: #D3E8CB;
	border-radius: 10px;
	padding: 20px 30px 30px;

	.field--select{
		background-color: white;
	}
}