@charset "UTF-8";
.CAD .divider:before {
  content: ","; }
.CAD .price-display:before {
  content: "$"; }
.CAD .price-display:after {
  content: ""; }
.CAD *[class^="cents"]:before {
  content: "."; }

.USD .divider:before {
  content: ","; }
.USD .price-display:before {
  content: "$"; }
.USD .price-display:after {
  content: ""; }
.USD *[class^="cents"]:before {
  content: "."; }

.SGD .divider:before {
  content: ","; }
.SGD .price-display:before {
  content: "$"; }
.SGD .price-display:after {
  content: ""; }
.SGD *[class^="cents"]:before {
  content: "."; }

.NZD .divider:before {
  content: ","; }
.NZD .price-display:before {
  content: "$"; }
.NZD .price-display:after {
  content: ""; }
.NZD *[class^="cents"]:before {
  content: "."; }

.AUD .divider:before {
  content: ","; }
.AUD .price-display:before {
  content: "$"; }
.AUD .price-display:after {
  content: ""; }
.AUD *[class^="cents"]:before {
  content: "."; }

.MXN .divider:before {
  content: ","; }
.MXN .price-display:before {
  content: "$"; }
.MXN .price-display:after {
  content: ""; }
.MXN *[class^="cents"]:before {
  content: "."; }

.ZAR .divider:before {
  content: ","; }
.ZAR .price-display:before {
  content: "R"; }
.ZAR .price-display:after {
  content: ""; }
.ZAR *[class^="cents"]:before {
  content: "."; }

.PLN .divider:before {
  content: " "; }
.PLN .price-display:before {
  content: ""; }
.PLN .price-display:after {
  content: "zł"; }
.PLN *[class^="cents"]:before {
  content: ","; }

.GBP .divider:before {
  content: ","; }
.GBP .price-display:before {
  content: "£"; }
.GBP .price-display:after {
  content: ""; }
.GBP *[class^="cents"]:before {
  content: "."; }

.EUR .divider:before {
  content: " "; }
.EUR .price-display:before {
  content: "€"; }
.EUR .price-display:after {
  content: ""; }
.EUR *[class^="cents"]:before {
  content: ","; }

.CNY .divider:before {
  content: ","; }
.CNY .price-display:before {
  content: "¥"; }
.CNY .price-display:after {
  content: ""; }
.CNY *[class^="cents"]:before {
  content: "."; }

.JPY .divider:before {
  content: ","; }
.JPY .price-display:before {
  content: "¥"; }
.JPY .price-display:after {
  content: ""; }
.JPY *[class^="cents"] {
  display: none !important; }
  .JPY *[class^="cents"]:before {
    content: "."; }

.INR .divider:before {
  content: ","; }
.INR .price-display:before {
  content: " ₹"; }
.INR .price-display:after {
  content: ""; }
.INR *[class^="cents"]:before {
  content: "."; }

.AED .divider:before {
  content: ","; }
.AED .price-display:before {
  content: ""; }
.AED .price-display:after {
  content: "د.إ"; }
.AED *[class^="cents"]:before {
  content: "."; }

.force-show {
  display: inline-block !important; }

.no-before:before {
  content: '' !important; }

.price-display:before {
  font-size: 1.6rem; }

.ccy-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D3E8CB;
  border-radius: 10px;
  padding: 20px 30px 30px; }
  .ccy-container .field--select {
    background-color: white; }
