.field--text, .field--select {
  width: 150px;
  height: 30px;
  border: 1px solid #585858;
  background-color: white;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  padding: 2px 8px;
  outline: none;
  position: relative;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1rem; }
  .invalid.field--text, .invalid.field--select {
    border-color: #c4483a; }
  .field--text:hover, .field--select:hover {
    border: 1px solid #20579E; }
  .field--text:focus, .field--select:focus {
    border: 1px solid #20579E; }

.field--text:read-only {
  border-width: 0 !important;
  text-decoration: underline;
  cursor: pointer; }

.field--w-modifier {
  position: relative;
  display: inline-block; }
  .field--w-modifier button {
    width: 30px;
    padding: 0;
    position: absolute;
    border-radius: 0;
    display: block;
    right: 1px;
    top: 1px;
    bottom: 1px;
    line-height: 1; }
    .field--w-modifier button:last-child {
      right: 32px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.field--select {
  background: url("../img/select-arrow.png") no-repeat right 0;
  cursor: pointer; }
  .invalid.field--select {
    border-color: #c4483a; }
  .field--select:hover, .field--select:focus {
    background-position: right -33px; }

.field--toggle {
  cursor: pointer; }
  .field--toggle .toggle-control {
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
            transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    width: 21px;
    height: 14px;
    display: block;
    border: 2px solid #24532B;
    border-radius: 14px;
    background-color: #24532B;
    position: relative; }
    .field--toggle .toggle-control:after {
      -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
              transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 7px; }
  .field--toggle input {
    display: none; }
    .field--toggle input:checked + .toggle-control {
      border-color: #585858;
      background-color: rgba(0, 0, 0, 0.3); }
      .field--toggle input:checked + .toggle-control:after {
        left: 0; }

.field--toggle_vertical {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .field--toggle_vertical .toggle-control {
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
            transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    width: 14px;
    height: 28px;
    display: block;
    border: 2px solid #24532B;
    border-radius: 14px;
    background-color: #24532B;
    position: relative; }
    .field--toggle_vertical .toggle-control:before {
      font-size: 0.4rem;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      bottom: 1px;
      left: 1px; }
    .field--toggle_vertical .toggle-control:after {
      -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
              transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
  .field--toggle_vertical input {
    display: none; }
    .field--toggle_vertical input:checked + .toggle-control {
      border-color: #c4483a;
      background-color: #c4483a; }
      .field--toggle_vertical input:checked + .toggle-control:after {
        top: 14px; }
      .field--toggle_vertical input:checked + .toggle-control:before {
        bottom: auto;
        top: 1px;
        left: 0; }

/*****************
GRID
******************/
.g-quarter, .g-third, .g-two-thirds, .g-half {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .g-quarter, .g-third, .g-two-thirds, .g-half {
      display: inline-block;
      vertical-align: top; }
      .g-quarter:last-of-type, .g-third:last-of-type, .g-two-thirds:last-of-type, .g-half:last-of-type {
        float: right;
        margin-right: 0; } }
  .g-no-space.g-quarter, .g-no-space.g-third, .g-no-space.g-two-thirds, .g-no-space.g-half {
    margin: 0; }

.g-display-table {
  display: table-row; }
  .g-display-table > [class^="g-"] {
    display: table-cell; }
    .g-display-table > [class^="g-"]:last-of-type {
      float: none; }

@media (min-width: 48em) {
  .g-half-to-third {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 48%;
    margin-right: 1%; } }
@media (min-width: 64em) {
  .g-half-to-third {
    width: 32%;
    margin-right: 1.7%; }
    .g-half-to-third:nth-child(3n+3), .g-half-to-third.last {
      float: right;
      margin-right: 0; } }

@media (min-width: 48em) {
  .g-quarter {
    width: 24%;
    margin-right: 1%; } }

@media (min-width: 48em) {
  .g-third {
    width: 32%;
    margin-right: 1.7%; }
    .g-third.g-no-space {
      width: 34%; }
    .g-third:nth-of-type(3n+3), .g-third.last {
      float: right;
      margin-right: 0; } }

@media (min-width: 48em) {
  .g-two-thirds {
    width: 62%;
    margin-right: 1%; }
    .g-two-thirds.g-no-space {
      width: 66%; } }

@media (min-width: 48em) {
  .g-half {
    width: 49%;
    margin-right: 1%; }
    .g-half.g-no-space {
      width: 50%; }
    .g-half:nth-child(2n+2) {
      float: right;
      margin-right: 0; } }

/*******************
	RESETS
*******************/
body {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  margin: 0;
  padding: 0; }
  body.s-no-scroll {
    overflow-y: hidden; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  margin-top: 0;
  color: #E87722; }

h1 {
  font-size: 1.9rem;
  margin-bottom: 3px; }

h2 {
  margin-bottom: 15px; }

h3 {
  margin-bottom: 7.5px; }

p {
  font-size: 0.9em;
  line-height: 1.4rem;
  margin-top: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/**********************
	TEXT FORMATTING
**********************/
.smalltext {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.8rem;
  text-transform: uppercase; }

label {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.8rem;
  text-transform: uppercase;
  display: inline-block;
  color: #959595; }

.grey-link, .lb-action-area--secondary {
  color: #959595;
  font-size: 0.8rem;
  cursor: pointer; }
  .grey-link:hover, .lb-action-area--secondary:hover {
    text-decoration: underline; }

.phone-link {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px; }

/**********************
	BUTTONS
**********************/
button {
  background-color: #E87722;
  padding: 10px 15px;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
  outline: none;
  cursor: pointer; }
  button:hover {
    background-color: #c35f14; }
  button.icon {
    background-color: transparent; }
    button.icon img {
      width: 15px; }
    button.icon.icon_plain {
      padding: 0 5px;
      vertical-align: middle; }
  button.icon_100 img {
    width: 10px; }

/**********************
	CONTAINERS
**********************/
.box-bordered {
  border: 1px solid #959595;
  padding: 15px;
  position: relative;
  margin-right: 15px; }
  .box-bordered_greybg {
    background-color: gainsboro;
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px; }

.box--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d0d0d0;
  border-top: 1px solid #959595;
  vertical-align: bottom; }

[class*="box-money"] {
  text-align: right;
  padding: 15px; }

.box-money {
  color: #20579E; }
  .box-money_finance {
    background-color: #D3E8CB;
    color: #24532B;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
            transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    position: relative; }
    .box-money_finance.s-finance-inactive {
      background-color: #F3FFF8;
      color: #959595;
      text-decoration: line-through; }
  .box-money_finance-total {
    background-color: #D3E8CB;
    color: #24532B;
    position: relative; }

/*******************
	GENERAL LAYOUT
*******************/
header {
  padding: 15px;
  oveflow: hidden;
  position: relative; }
  header .home-link {
    font-size: 0.8rem; }
    header .home-link img {
      height: 8px; }

.top-section {
  background-color: #E9E9E9; }

.content--center, footer {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

[class^="col"] {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; }

.col-0 {
  width: 10%; }
.col-1 {
  width: 5%; }
.col-2 {
  width: 48%; }
.col-3 {
  width: 19%; }
.col-4 {
  width: 16%; }

/**********************
	METADATA
**********************/
.details-table label {
  display: inline-block;
  height: 30px;
  width: 40%;
  text-align: right;
  padding-right: 10px; }
.details-table .calculation {
  position: relative; }

.action {
  vertical-align: bottom;
  text-align: center;
  padding: 15px;
  display: inline-block; }
  .action .action-icon {
    display: inline-block;
    margin-bottom: 5px;
    width: 24px; }
  .action .action-label {
    display: block;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 0.8rem;
    text-transform: uppercase; }

/**********************
	FINANCING
**********************/
.pinned-section {
  background-color: #E9E9E9;
  border-bottom: 1px solid #959595;
  z-index: 1000;
  position: relative; }
  .pinned-section:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 9px;
    background-image: -webkit-radial-gradient(ellipse farthest-side at center top, rgba(0, 0, 0, 0.4), transparent);
    background-image: radial-gradient(ellipse farthest-side at center top, rgba(0, 0, 0, 0.4), transparent);
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear; }
  .pinned-section.s-stuck {
    position: fixed;
    top: 0;
    width: 100%; }
    .pinned-section.s-stuck:after {
      opacity: 1; }
    .pinned-section.s-stuck .financing.s-hidden {
      display: none; }
    .pinned-section.s-stuck .finance--collapse {
      right: -25px; }

.js--sticky-wrapper {
  -webkit-transition: height 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
          transition: height 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }

.financing {
  background-color: white;
  border: 1px solid #24532B;
  overflow: hidden;
  z-index: 2;
  position: relative; }
  .financing .g-third {
    padding: 15px; }
  .financing p {
    margin-bottom: 0; }

.finance--collapse {
  position: absolute;
  top: 15px;
  right: 0;
  -webkit-transition: right 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
          transition: right 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  z-index: 1; }

/**********************
	PURCHASES
**********************/
.table--header {
  padding: 15px 0 10px;
  text-align: center; }

.purchase {
  padding: 10px 0;
  display: table-row; }
  .purchase [class^="col"] {
    display: table-cell;
    padding: 15px 0;
    vertical-align: top;
    border-bottom: 1px dotted #bdbdbd; }
    .purchase [class^="col"][class*="box-money"] {
      padding: 15px;
      font-size: 1.2rem; }
    .purchase [class^="col"].box-money_finance {
      padding-right: 40px; }
  .purchase .col-1, .purchase .col-3, .purchase .col-4 {
    vertical-align: middle; }
  .purchase .col-3, .purchase .col-4 {
    padding-right: 30px; }
  .purchase .col-1 {
    color: #E87722;
    text-align: center; }
  .purchase .col-2 {
    position: relative; }

.description {
  display: block;
  font-size: 1.1rem;
  min-height: 2em; }

.description-footer {
  margin-top: 15px; }

.unit-pill {
  background-color: #E9E9E9;
  border-radius: 10px;
  color: #585858;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.8rem;
  margin-right: 15px;
  font-size: 0.75rem; }
  .unit-pill div {
    display: inline-block; }
  .unit-pill .unit--quantity {
    border-radius: 10px 0 0 10px;
    background-color: #20579E;
    color: white;
    padding: 5px 10px; }
    .unit-pill .unit--quantity:after {
      content: "x"; }
  .unit-pill .unit--price {
    padding: 5px 15px 5px 5px;
    color: #20579E; }

.purchase-meta {
  display: inline-block; }

/********************************
	TOTALS AND FINANCING FOOTER
********************************/
.purchases--totals {
  position: relative;
  margin-bottom: 15px;
  display: table-row; }
  .purchases--totals [class^='col'] {
    display: table-cell;
    padding: 15px; }
  .purchases--totals .col-3 {
    padding-right: 30px; }

.totals--or {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #585858;
  border-radius: 24px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 0.6rem; }

.finance-confirmation {
  border: 1px solid #24532B;
  padding: 15px;
  text-align: center; }

/***********************
	FOOTER
************************/
footer {
  padding-bottom: 50px; }

.disclaimers {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.8rem;
  color: #959595; }

/**********************
	CURRENCY FORMATTING
**********************/
.dollar [class^="dollars"]:before, .dollar .currency-symbol:before {
  content: '$'; }
.pound [class^="dollars"]:before, .pound .currency-symbol:before {
  content: '\00A3'; }
.yen [class^="dollars"]:before, .yen .currency-symbol:before {
  content: '\00A5'; }
.euro [class^="dollars"]:before, .euro .currency-symbol:before {
  content: '\20AC'; }

.dollars_200 {
  font-size: 1.1rem; }
.dollars_400 {
  font-size: 1.4rem; }
.dollars_700 {
  font-size: 1.8rem; }

[class^="cents"] {
  vertical-align: top;
  display: inline-block;
  margin-left: -5px;
  margin-top: 2px; }
  [class^="cents"]:before {
    content: '.'; }
  [class^="cents"]:empty {
    visibility: hidden; }
    [class^="cents"]:empty:after {
      content: '.00'; }

.cents_200 {
  font-size: 0.7rem;
  margin-top: 6px; }
.cents_400 {
  font-size: 0.8rem; }
.cents_700 {
  font-size: 0.9rem; }

/*************************
	COLLAPSIBLE ELEMENTS
*************************/
.collapsible .default-hidden {
  display: none; }
.collapsible.s-expanded .default-shown {
  display: none; }
.collapsible.s-expanded .default-hidden {
  display: block; }

.lb {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  overflow-y: hidden;
  -webkit-transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
          transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s; }
  .lb.s-open {
    top: 0;
    -webkit-transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
            transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .lb.s-open .lb-window {
      opacity: 1;
      -webkit-transform: translateX(-50%) translateY(0);
          -ms-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
      -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
              transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s; }

.lb-background {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.lb-window-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto; }

.lb-window {
  position: relative;
  width: 600px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
      -ms-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
          transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
  margin: 50px 0;
  background-color: white; }

.lb-window-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  padding: 15px;
  z-index: 500; }

.lb-content {
  padding: 30px;
  text-align: center; }
  .lb-content img {
    margin-bottom: 15px; }

.lb-action-area {
  padding: 15px;
  background-color: #E9E9E9;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .lb-action-area button {
    display: inline-block; }
  .lb-action-area--secondary {
    display: inline-block; }

.lb-wizard {
  overflow-y: hidden;
  position: relative; }
  .lb-wizard.s-step-1 .step-1 {
    max-height: 400px; }
    .lb-wizard.s-step-1 .step-1 .step-content {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
              transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .lb-wizard.s-step-1 .step-2 {
    background-color: #E9E9E9; }
  .lb-wizard.s-step-1 .step-2a {
    max-height: 50px; }
  .lb-wizard.s-step-1 .step-2b {
    max-height: 0; }
    .lb-wizard.s-step-1 .step-2b .step-content {
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0; }
  .lb-wizard.s-step-1 .step-3 {
    max-height: 0; }
    .lb-wizard.s-step-1 .step-3 .step-content {
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0; }
  .lb-wizard.s-step-2 .step-1 {
    max-height: 0; }
    .lb-wizard.s-step-2 .step-1 .step-content {
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0;
      -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
              transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .lb-wizard.s-step-2 .step-2 {
    background-color: #E9E9E9; }
  .lb-wizard.s-step-2 .step-2a {
    max-height: 0; }
  .lb-wizard.s-step-2 .step-2b {
    max-height: 300px;
    -webkit-transition: max-height 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
            transition: max-height 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .lb-wizard.s-step-2 .step-2b .step-content {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
  .lb-wizard.s-step-2 .step-3 {
    max-height: 0; }
    .lb-wizard.s-step-2 .step-3 .step-content {
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0; }
  .lb-wizard.s-step-3 .step-1 {
    max-height: 0; }
  .lb-wizard.s-step-3 .step-2 {
    background-color: #E87722; }
  .lb-wizard.s-step-3 .step-2a {
    max-height: 0; }
  .lb-wizard.s-step-3 .step-2b {
    max-height: 300px; }
    .lb-wizard.s-step-3 .step-2b .lb-airplane--hiding-message {
      max-height: 0; }
    .lb-wizard.s-step-3 .step-2b .step-content {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
  .lb-wizard.s-step-3 .step-3 {
    max-height: 1000px; }
    .lb-wizard.s-step-3 .step-3 .step-content {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }

.lb-wizard--step {
  overflow-y: hidden;
  -webkit-transition: max-height 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
          transition: max-height 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }

.lb-airplane--hiding-message {
  max-height: 50px;
  -webkit-transition: max-height 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
          transition: max-height 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
  overflow-y: hidden; }

.step-2 {
  -webkit-transition: background-color 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
          transition: background-color 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }

.step-content {
  -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
          transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s; }

/*******************
	HELPER CLASSES
********************/
.h-overflow {
  overflow: hidden; }

.h-ta-center {
  text-align: center; }

.h-mb-100 {
  margin-bottom: 15px; }

.h-pt-100 {
  padding-top: 15px; }

.h-p-center {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center; }

.h-f-right {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right; }

.h-va-super {
  vertical-align: super; }

/*******************
	COLOUR OVERRIDES
********************/
.c-price {
  color: #20579E; }

.c-finance {
  color: #24532B; }

.c-brand {
  color: #E87722; }

.c-link {
  color: #20579e; }

.bg-finance {
  background-color: #D3E8CB; }

.bg-brand {
  background-color: #E87722; }

.bg-grey {
  background-color: #E9E9E9; }
