@charset "UTF-8";
@import url(../../bower_components/tooltipster-master/css/tooltipster.css);
.field--text, .field--select {
  width: 100%;
  height: 30px;
  border: 1px solid #bfc0be;
  background-color: #ffffff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  padding: 2px 8px;
  outline: none;
  position: relative;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1rem; }
  .invalid.field--text, .invalid.field--select {
    background-color: #F3BFBF; }
  .field--text:hover, .field--select:hover {
    border: 1px solid #E35530; }
  .field--text:focus, .field--select:focus {
    border: 1px solid #E35530; }

.field--text:-moz-read-only {
  border-width: 0 !important;
  text-decoration: underline;
  cursor: pointer; }

.field--text:read-only {
  border-width: 0 !important;
  text-decoration: underline;
  cursor: pointer; }

.field--w-modifier {
  position: relative;
  display: inline-block; }
  .field--w-modifier button {
    width: 28px;
    padding: 0;
    position: absolute;
    border-radius: 0;
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    line-height: 1; }
    .field--w-modifier button:last-child {
      right: 31px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.field--select {
  background: url("../img/select-arrow.png") no-repeat right 0;
  cursor: pointer;
  padding-right: 30px; }
  .invalid.field--select {
    border-color: #c4483a; }
  .field--select:hover {
    background-position: right -33px; }

select::-ms-expand {
  display: none; }

.field--toggle {
  cursor: pointer; }
  .field--toggle .toggle-control {
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    width: 21px;
    height: 14px;
    display: block;
    border: 2px solid #24532B;
    border-radius: 14px;
    background-color: #24532B;
    position: relative; }
    .field--toggle .toggle-control:after {
      -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 7px; }
  .field--toggle input {
    display: none; }
    .field--toggle input:checked + .toggle-control {
      border-color: #585858;
      background-color: rgba(0, 0, 0, 0.3); }
      .field--toggle input:checked + .toggle-control:after {
        left: 0; }

.field--toggle_vertical {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .field--toggle_vertical .toggle-control {
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    width: 14px;
    height: 28px;
    display: block;
    border: 2px solid #24532B;
    border-radius: 14px;
    background-color: #24532B;
    position: relative; }
    .field--toggle_vertical .toggle-control:before {
      font-size: 0.4rem;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      bottom: 1px;
      left: 1px; }
    .field--toggle_vertical .toggle-control:after {
      -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
  .field--toggle_vertical input {
    display: none; }
    .field--toggle_vertical input:checked + .toggle-control {
      border-color: #c4483a;
      background-color: #c4483a; }
      .field--toggle_vertical input:checked + .toggle-control:after {
        top: 14px; }
      .field--toggle_vertical input:checked + .toggle-control:before {
        bottom: auto;
        top: 1px;
        left: 0; }

/*****************
GRID
******************/
.g-quarter, .g-third, .g-two-thirds, .g-half {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .g-quarter, .g-third, .g-two-thirds, .g-half {
      display: inline-block;
      vertical-align: top; }
      .g-quarter:last-of-type, .g-third:last-of-type, .g-two-thirds:last-of-type, .g-half:last-of-type {
        float: right;
        margin-right: 0; } }
  .g-no-space.g-quarter, .g-no-space.g-third, .g-no-space.g-two-thirds, .g-no-space.g-half {
    margin: 0; }

.g-display-table {
  display: table-row; }
  .g-display-table > [class^="g-"] {
    display: table-cell; }
    .g-display-table > [class^="g-"]:last-of-type {
      float: none; }
  .g-display-table .g-quarter {
    width: 25%; }
  .g-display-table .g-third {
    width: 33%; }
  .g-display-table .g-half {
    width: 50%; }
  .g-display-table .g-two-thirds {
    width: 66%; }

@media (min-width: 48em) {
  .g-half-to-third {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 48%;
    margin-right: 1%; } }
@media (min-width: 64em) {
  .g-half-to-third {
    width: 32%;
    margin-right: 1.7%; }
    .g-half-to-third:nth-child(3n+3), .g-half-to-third.last {
      float: right;
      margin-right: 0; } }

@media (min-width: 48em) {
  .g-quarter {
    width: 24%;
    margin-right: 1%; } }

@media (min-width: 48em) {
  .g-third {
    width: 32%;
    margin-right: 1.7%; }
    .g-third.g-no-space {
      width: 34%; }
    .g-third:nth-of-type(3n+3), .g-third.last {
      float: right;
      margin-right: 0; } }

@media (min-width: 48em) {
  .g-two-thirds {
    width: 62%;
    margin-right: 1%; }
    .g-two-thirds.g-no-space {
      width: 66%; } }

@media (min-width: 48em) {
  .g-half {
    width: 49%;
    margin-right: 1%; }
    .g-half:nth-child(2n+2) {
      float: right;
      margin-right: 0; }
    .g-half.g-no-space {
      width: 50%;
      float: none;
      margin-right: 0; } }

/*******************
	RESETS
*******************/
body {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  margin-top: 0;
  color: #E87722; }

h1 {
  font-size: 1.9rem;
  margin-bottom: 3px; }

h2 {
  font-size: 1.7rem;
  margin-bottom: 15px; }

h3 {
  font-size: 1.3rem;
  margin-bottom: 7.5px; }

p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-top: 0; }

.p-100 {
  font-size: 1rem;
  line-height: 1.6rem; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: underline;
    outline: none; }
  a:active, a:focus {
    outline: none; }
  a.a--img {
    line-height: 0;
    display: inline-block;
    max-width: 100%; }
    a.a--img img {
      max-width: 100%; }

/**********************
	TEXT FORMATTING
**********************/
.smalltext {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.9rem;
  text-transform: uppercase; }

label, .label {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  color: #959595; }

.grey-link, .lb-action-area--secondary {
  color: #959595;
  font-size: 0.8rem;
  cursor: pointer; }
  .grey-link:hover, .lb-action-area--secondary:hover {
    text-decoration: underline; }

.phone-link {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px; }
  .phone-link a {
    color: #20579E; }

.phone-cta {
  padding: 3px 0;
  display: inline-block;
  border: 1px solid #aaa;
  border-width: 1px 0;
  color: #959595; }

/**********************
	BUTTONS
**********************/
button, .button, .button_secondary {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  color: #000000;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  button:disabled, .button:disabled, .button_secondary:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }

button, .button {
  -webkit-transition-property: padding-left;
  transition-property: padding-left;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
  background-color: #E87722;
  background-image: -webkit-linear-gradient(#FAB558, #F69731);
  background-image: linear-gradient(#FAB558, #F69731);
  border: 1px solid #E87722; }
  button:hover, .button:hover {
    background-color: #c35f14;
    background-image: -webkit-linear-gradient(#F58D31, #EB6D30);
    background-image: linear-gradient(#F58D31, #EB6D30);
    color: #ffffff; }
  button.icon, .button.icon {
    background-color: transparent;
    background-image: none;
    border: 0; }
    button.icon img, .button.icon img {
      width: 15px; }
    button.icon.icon_plain, .button.icon.icon_plain {
      padding: 0 5px;
      vertical-align: middle; }
  button.icon_100 img, .button.icon_100 img {
    width: 10px; }
  button.s-success, .button.s-success {
    padding-left: 36px; }
    button.s-success:before, .button.s-success:before {
      content: " ";
      background: url("../img/check_small.png") no-repeat 0 0;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 8px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }

.button_secondary {
  box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #bfc0be;
  background-image: none;
  border: 0;
  color: #000000; }
  .button_secondary:hover {
    background-color: #737471;
    box-shadow: none;
    color: #ffffff;
    text-decoration: none; }

/**********************
	CONTAINERS
**********************/
.box--warning {
  border: 1px solid #bfc0be;
  padding: 15px;
  padding-left: 77px;
  margin-top: 15px;
  position: relative;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.2rem; }
  .box--warning:before {
    content: " ";
    display: inline-block;
    background: url("../img/attention.png") no-repeat 0 center;
    border-right: 1px solid #bfc0be;
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    width: 47px; }

.box-bordered {
  border: 1px solid #959595;
  padding: 15px;
  position: relative; }
  .box-bordered_greybg {
    background-color: gainsboro;
    padding: 15px;
    margin-top: 15px; }
  .box-bordered_black {
    border: 1px solid #000000;
    padding: 15px;
    position: relative; }

.box--header, .box--divider {
  padding: 7.5px 15px;
  margin: -15px -15px 15px;
  background-color: #000000; }
  .box--header h3, .box--divider h3 {
    margin: 0; }

.box--divider {
  margin: 0 -15px 15px; }

.box--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d0d0d0;
  border-top: 1px solid #959595;
  vertical-align: bottom; }

.box--money-summary {
  background-color: rgba(32, 87, 158, 0.15);
  text-align: center;
  margin-bottom: 0;
  padding: 15px; }

[class*="box-money"] {
  text-align: right;
  padding: 15px; }

.box-money {
  color: #20579E; }
  .box-money_finance {
    background-color: #D3E8CB;
    color: #24532B;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    position: relative; }
    .box-money_finance.s-finance-inactive {
      background-color: #F3FFF8;
      color: #959595;
      text-decoration: line-through; }
  .box-money_total {
    border: 1px solid #24532B; }
  .box-money_finance-total {
    background-color: #D3E8CB;
    color: #24532B;
    position: relative; }

/*******************
	HEADER
*******************/
header {
  padding: 15px 0;
  overflow: hidden;
  position: relative; }
  header .home-link {
    font-size: 0.8rem; }
    header .home-link img {
      height: 8px; }

.logo {
  display: inline-block;
  width: 200px;
  height: 46px;
  margin: 10px 0 20px; }

.top-section {
  background-color: #e8e6e2; }

.timestamp {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.actions {
  position: absolute;
  top: 15px;
  right: -15px;
  text-align: right; }

.action {
  vertical-align: bottom;
  text-align: center;
  padding: 15px;
  display: inline-block; }
  .action .action-icon {
    display: inline-block;
    margin-bottom: 9px;
    width: 24px; }
  .action .action-label {
    display: block;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 0.9rem;
    text-transform: uppercase; }

.content--center, footer {
  max-width: 990px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 800px) {
    .content--center, footer {
      padding: 0 15px; } }

/*******************
	GENERAL LAYOUT
*******************/
[class^="col"] {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; }

.col-0 {
  width: 10%; }
.col-1 {
  width: 5%; }
.col-2 {
  width: 48%; }
.col-3 {
  width: 19%; }
.col-4 {
  width: 16%; }

.g-custom-35 {
  display: table-cell;
  vertical-align: top;
  width: 35%; }

.g-custom-65 {
  display: table-cell;
  vertical-align: top;
  width: 65%; }

.slim-table {
  margin-left: 25px;
  font-size: 0.9rem;
  list-style-type: disc;
  margin-top: 7px; }
  .slim-table li {
    margin-bottom: 5px; }
    .slim-table li:last-of-type {
      margin-bottom: 0; }

/**********************
	METADATA
**********************/
.details-table label {
  display: inline-block;
  width: 40%;
  text-align: right;
  margin-right: 2%;
  vertical-align: middle; }
  .details-table label.label_narrow {
    width: 120px; }
  @media (max-width: 800px) {
    .details-table label {
      display: block;
      width: 100%;
      text-align: left; } }
.details-table .long-field {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
  vertical-align: middle; }
  @media (max-width: 800px) {
    .details-table .long-field {
      max-width: 100%; } }
.details-table .calculation {
  display: block;
  position: relative;
  margin-bottom: 10px; }
  .details-table .calculation > div {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 55%; }
    @media (max-width: 800px) {
      .details-table .calculation > div {
        display: block;
        width: 100%; } }

.details--entry {
  display: block;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px dotted #959595; }
  .details--entry:last-of-type {
    border-bottom-width: 0;
    padding-bottom: 0; }

/**********************
	FINANCING
**********************/
.pinned-section {
  background-color: #e8e6e2;
  border-bottom: 1px solid #959595;
  z-index: 1000;
  position: relative; }
  .pinned-section:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 9px;
    background-image: -webkit-radial-gradient(ellipse farthest-side at center top, rgba(0, 0, 0, 0.4), transparent);
    background-image: radial-gradient(ellipse farthest-side at center top, rgba(0, 0, 0, 0.4), transparent);
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear; }
  .pinned-section.s-stuck {
    position: fixed;
    top: 0;
    width: 100%; }
    .pinned-section.s-stuck:after {
      opacity: 1; }
    .pinned-section.s-stuck .financing.s-hidden {
      display: none; }
    .pinned-section.s-stuck .finance--collapse {
      right: -25px; }

.js--sticky-wrapper {
  -webkit-transition: height 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: height 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }

.financing {
  background-color: #ffffff;
  border: 1px solid #24532B;
  overflow: hidden;
  z-index: 2;
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .financing .g-third, .financing .g-half {
    padding: 15px; }
  .financing p {
    margin-bottom: 0; }

.finance--collapse {
  position: absolute;
  top: 15px;
  right: 0;
  -webkit-transition: right 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: right 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  z-index: 1; }

/**********************
	PURCHASES
**********************/
.table--header {
  padding: 8px 0 6px;
  text-align: center;
  font-size: 0.9rem;
  display: table;
  width: 100%;
  table-layout: fixed; }

.purchases ul {
  display: table;
  width: 100%;
  table-layout: fixed; }
.purchases.s-hidden {
  display: none; }
.purchases_empty {
  padding: 60px 15px 130px;
  text-align: center; }

.purchase {
  padding: 10px 0;
  display: table-row; }
  .purchase [class^="col"] {
    display: table-cell;
    padding: 15px 0;
    vertical-align: top;
    border-bottom: 1px dotted #bdbdbd; }
    .purchase [class^="col"][class*="box-money"] {
      padding: 15px;
      font-size: 1.2rem; }
    .purchase [class^="col"].box-money_finance {
      padding-right: 10px; }
  .purchase img {
    max-width: 100%;
    width: 100%; }
  .purchase .col-1, .purchase .col-3, .purchase .col-4 {
    vertical-align: middle; }
  .purchase .col-3, .purchase .col-4 {
    padding-right: 30px; }
  .purchase .col-1 {
    color: #E87722;
    text-align: center;
    letter-spacing: -1px;
    font-size: 0.85rem;
    font-weight: bold; }
  .purchase .col-2 {
    position: relative; }

.description {
  display: block;
  font-size: 1.1rem;
  height: 2.4em;
  overflow: hidden; }
  @supports (-webkit-line-clamp: 1) {
    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2; } }

.description-footer {
  margin-top: 15px; }

.unit-pill {
  background-color: #E9E9E9;
  border-radius: 10px;
  color: #585858;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.9rem;
  line-height: 0.8rem;
  margin-right: 15px;
  font-size: 0.75rem; }
  .unit-pill div {
    display: inline-block; }
  .unit-pill .unit--quantity {
    border-radius: 10px 0 0 10px;
    background-color: #20579E;
    color: #ffffff;
    padding: 5px 10px; }
    .unit-pill .unit--quantity:after {
      content: "x"; }
  .unit-pill .unit--price {
    padding: 5px 15px 5px 5px;
    color: #20579E; }

.purchase-meta {
  display: inline-block; }

/********************************
	TOTALS AND FINANCING FOOTER
********************************/
.purchases--totals {
  position: relative;
  margin-bottom: 15px;
  display: table-row; }
  .purchases--totals [class^='col'] {
    display: table-cell;
    padding: 15px; }
  .purchases--totals .col-3, .purchases--totals .col-4 {
    text-align: center; }
  .purchases--totals .col-3 {
    padding-right: 25px; }

.totals--or {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #585858;
  border-radius: 24px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 0.6rem; }

.finance-confirmation {
  border: 1px solid #24532B;
  padding: 15px;
  text-align: center; }

/***********************
	FOOTER
************************/
footer {
  padding-bottom: 50px; }

.disclaimers {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.9rem;
  color: #959595; }

/**********************
	CURRENCY FORMATTING
**********************/
.CAD [class^="dollars"]:before, .CAD .currency-symbol:before {
  content: '$'; }
.GBP [class^="dollars"]:before, .GBP .currency-symbol:before {
  content: '\00A3'; }
.CNY [class^="dollars"]:before, .CNY .currency-symbol:before {
  content: '\00A5'; }
.EUR [class^="dollars"]:before, .EUR .currency-symbol:before {
  content: '\20AC'; }

.dollars_200 {
  font-size: 1.1rem; }
.dollars_400 {
  font-size: 1.4rem; }
.dollars_700 {
  font-size: 1.6rem; }

[class^="cents"] {
  vertical-align: top;
  display: inline-block;
  display: none;
  margin-left: -5px;
  margin-top: 2px; }
  [class^="cents"]:before {
    content: '.'; }
  [class^="cents"]:empty {
    visibility: hidden; }
    [class^="cents"]:empty:after {
      content: '.00'; }

.cents_200 {
  font-size: 0.7rem;
  margin-top: 0px; }
.cents_400 {
  font-size: 0.8rem; }
.cents_700 {
  font-size: 0.9rem; }

/*************************
	COLLAPSIBLE ELEMENTS
*************************/
.collapsible .default-hidden {
  display: none; }
.collapsible.s-expanded .default-shown {
  display: none; }
.collapsible.s-expanded .default-hidden {
  display: block; }

.demo-controls {
  background-color: #bfc0be;
  padding: 30px;
  position: relative;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #000000; }
  .demo-controls li {
    position: relative;
    width: 200px;
    margin-bottom: 10px; }
  .demo-controls .toggle-currency {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.lb {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  overflow-y: hidden;
  -webkit-transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
  transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s; }
  .lb.s-open {
    top: 0;
    -webkit-transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .lb.s-open .lb-window {
      opacity: 1;
      -webkit-transform: translateX(-50%) translateY(0);
          -ms-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
      -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
      transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
      transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s;
      transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s, -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1) 0.2s; }

.lb-background {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.lb-window-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto; }

.lb-window {
  position: relative;
  width: 600px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
      -ms-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: opacity 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1), -webkit-transform 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
  margin: 90px 0; }

.lb-window-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  padding: 15px;
  z-index: 500; }

.lb-content {
  padding: 30px;
  text-align: center; }

.lb-action-area {
  padding: 15px;
  background-color: #E9E9E9;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 0 0 5px 5px; }
  .lb-action-area button {
    display: inline-block; }
  .lb-action-area--secondary {
    display: inline-block; }

.lb-wizard--top-img {
  position: relative;
  display: inline-block;
  border-radius: 130px;
  width: 130px;
  padding: 5px;
  margin: 0;
  background-color: #e9e9e9;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1); }
  .lb-wizard--top-img img {
    max-width: 100%;
    width: 100%; }
  .lb-wizard--top-img .img-2 {
    position: absolute;
    top: 0;
    left: 0; }

.lb-wizard--step {
  overflow-y: hidden;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1); }

.lb-airplane--hiding-message {
  max-height: 100px;
  -webkit-transition-property: max-height, -webkit-transform;
  transition-property: max-height, -webkit-transform;
  transition-property: max-height, transform;
  transition-property: max-height, transform, -webkit-transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
  overflow-y: hidden; }

.lb-wizard {
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
  .lb-wizard.s-step-1 .step-1 {
    max-height: 1000px; }
    .lb-wizard.s-step-1 .step-1 .step-content {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: opacity, transform;
      transition-property: opacity, transform, -webkit-transform;
      -webkit-transition-duration: 0.35s;
              transition-duration: 0.35s;
      -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
              transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1); }
  .lb-wizard.s-step-1 .step-2 {
    background-color: #E9E9E9;
    border-radius: 0 0 5px 5px; }
  .lb-wizard.s-step-1 .step-2a {
    max-height: 50px; }
  .lb-wizard.s-step-1 .step-2b {
    max-height: 0;
    margin-top: 0px; }
    .lb-wizard.s-step-1 .step-2b .step-content {
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0; }
    .lb-wizard.s-step-1 .step-2b .img-2 {
      display: none; }
  .lb-wizard.s-step-1 .step-3 {
    max-height: 0; }
    .lb-wizard.s-step-1 .step-3 .step-content {
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0; }
  .lb-wizard.s-step-2 .step-1 {
    max-height: 0; }
    .lb-wizard.s-step-2 .step-1 .step-content {
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: opacity, transform;
      transition-property: opacity, transform, -webkit-transform;
      -webkit-transition-duration: 0.35s;
              transition-duration: 0.35s;
      -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
              transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1); }
  .lb-wizard.s-step-2 .step-2 {
    background-color: #E9E9E9;
    border-radius: 5px; }
  .lb-wizard.s-step-2 .step-2a {
    max-height: 0; }
  .lb-wizard.s-step-2 .step-2b {
    max-height: 300px;
    margin-top: -65px;
    -webkit-transition-property: max-height, margin-top;
    transition-property: max-height, margin-top;
    -webkit-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
            transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1); }
    .lb-wizard.s-step-2 .step-2b .step-content {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
    .lb-wizard.s-step-2 .step-2b .img-2 {
      display: none; }
  .lb-wizard.s-step-2 .step-3 {
    max-height: 0; }
    .lb-wizard.s-step-2 .step-3 .step-content {
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0; }
  .lb-wizard.s-step-3 .step-1 {
    max-height: 0; }
  .lb-wizard.s-step-3 .step-2 {
    background-color: #ffffff;
    border-radius: 5px; }
    .lb-wizard.s-step-3 .step-2 .lb-content {
      padding-bottom: 0; }
  .lb-wizard.s-step-3 .step-2a {
    max-height: 0; }
  .lb-wizard.s-step-3 .step-2b {
    max-height: 300px;
    margin-top: -65px; }
    .lb-wizard.s-step-3 .step-2b .lb-airplane--hiding-message {
      max-height: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .lb-wizard.s-step-3 .step-2b .step-content {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
    .lb-wizard.s-step-3 .step-2b .lb-wizard--top-img {
      background-color: #ffffff; }
    .lb-wizard.s-step-3 .step-2b .img-2 {
      display: block; }
  .lb-wizard.s-step-3 .step-3 {
    max-height: 1000px; }
    .lb-wizard.s-step-3 .step-3 .step-content {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }

.step-2 {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1); }
  .step-2 .lb-content {
    padding: 15px 30px; }
  .step-2 .step-2b {
    -webkit-transition: margin-top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: margin-top 0.35s cubic-bezier(0.63, 0.005, 0.365, 1); }

.step-content {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.tooltips--content-placeholder {
  display: none; }

[class*='tooltip_'] {
  position: absolute;
  width: 24px;
  height: 24px; }
  [class*='tooltip_'] img {
    width: 100%;
    max-width: 100%; }

.tooltip_ne {
  top: -12px;
  right: -12px; }
.tooltip_se {
  bottom: 15px;
  right: 5px; }
.tooltip_e {
  right: -27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.ritchie-tooltips {
  border-radius: 0;
  border: 1px solid #000000;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  background: #ffffff;
  color: #000000;
  max-width: 300px; }

/* Use this next selector to style things like font-size and line-height: */
.ritchie-tooltips .tooltipster-content {
  font-size: 1rem;
  padding: 7.5px 15px;
  overflow: visible; }
  .ritchie-tooltips .tooltipster-content p {
    margin: 0; }
  .ritchie-tooltips .tooltipster-content p + p {
    margin-top: 15px; }
  .ritchie-tooltips .tooltipster-content ul {
    padding-left: 15px;
    padding-top: 15px; }
  .ritchie-tooltips .tooltipster-content li {
    line-height: 1;
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: block; }
  .ritchie-tooltips .tooltipster-content a {
    color: #1478BC; }

body.s-no-scroll {
  overflow-y: hidden; }
body.s-no-purchases .no-purchases--hide {
  display: none; }
body.s-no-purchases .no-purcahses--full {
  width: 100%;
  text-align: center; }
body.s-no-purchases .no-purchases--show {
  display: block; }
body.s-no-purchases .no-purchases--show_cell {
  display: table-cell !important; }
body.s-no-purchases .no-purchases--fill-height {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
body.s-no-financing .no-finance--hide {
  display: none; }
body.s-no-financing .no-finance--full {
  width: 100%;
  text-align: center; }
body.s-no-financing .col-2 {
  width: 64%; }
body.s-no-financing .col-4 {
  width: 0 !important;
  display: none; }
body.s-no-financing.s-no-purchases .no-purchases--show {
  display: block; }
body.s-no-financing.s-no-purchases .no-finance--hide {
  display: none; }

.no-purchases--show, .no-purchases--show_cell {
  display: none; }

.g-display-table .no-purchases--show_cell {
  display: none; }

/*******************
	HELPER CLASSES
********************/
.h-overflow {
  overflow: hidden; }

.h-t-xs {
  font-size: 0.6rem; }

.h-t-l {
  font-size: 1.5rem; }

.h-ta-center {
  text-align: center; }

.h-ta-right {
  text-align: right; }

.h-tt-uppercase {
  text-transform: uppercase; }

.h-mt-80 {
  margin-top: 10px; }

.h-mt-100 {
  margin-top: 15px; }

.h-mb-100 {
  margin-bottom: 15px; }

.h-mb-50 {
  margin-bottom: 7.5px; }

.h-mb-0 {
  margin-bottom: 0; }

.h-mr-100 {
  margin-right: 15px; }

.h-pt-100 {
  padding-top: 15px; }

.h-pb-100 {
  padding-bottom: 15px; }

.h-p-0 {
  padding: 0; }

.h-d-table {
  display: table;
  width: 100%;
  table-layout: fixed; }

.h-d-block {
  display: block; }

.h-d-inline-block {
  display: inline-block; }

.h-pos-relative {
  position: relative; }

.h-pos-center {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center; }

.h-mw-400 {
  max-width: 430px;
  margin: 0 auto; }

.h-f-right {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right; }

.h-va-super {
  vertical-align: super; }

.h-ws-nowrap {
  white-space: nowrap; }

/*******************
	COLOUR OVERRIDES
********************/
.c-price {
  color: #20579E; }

.c-finance {
  color: #24532B; }

.c-brand {
  color: #E87722; }

.c-link {
  color: #1478BC; }

.c-grey {
  color: #959595; }

.c-grey-700 {
  color: #585858; }

.c-white {
  color: #ffffff; }

.c-black {
  color: #000000; }

.bg-finance {
  background-color: #D3E8CB; }

.bg-brand {
  background-color: #E87722; }

.bg-grey {
  background-color: #E9E9E9; }

.force-show {
  display: inline-block !important; }

.no-before:before {
  content: '' !important; }

.price-display:before {
  font-size: 1.6rem; }

.CAD .divider:before {
  content: ","; }
.CAD .price-display:before {
  content: "$"; }
.CAD .price-display:after {
  content: ""; }
.CAD *[class^="cents"]:before {
  content: "."; }

.USD .divider:before {
  content: ","; }
.USD .price-display:before {
  content: "$"; }
.USD .price-display:after {
  content: ""; }
.USD *[class^="cents"]:before {
  content: "."; }

.SGD .divider:before {
  content: ","; }
.SGD .price-display:before {
  content: "$"; }
.SGD .price-display:after {
  content: ""; }
.SGD *[class^="cents"]:before {
  content: "."; }

.NZD .divider:before {
  content: ","; }
.NZD .price-display:before {
  content: "$"; }
.NZD .price-display:after {
  content: ""; }
.NZD *[class^="cents"]:before {
  content: "."; }

.AUD .divider:before {
  content: ","; }
.AUD .price-display:before {
  content: "$"; }
.AUD .price-display:after {
  content: ""; }
.AUD *[class^="cents"]:before {
  content: "."; }

.MXN .divider:before {
  content: ","; }
.MXN .price-display:before {
  content: "$"; }
.MXN .price-display:after {
  content: ""; }
.MXN *[class^="cents"]:before {
  content: "."; }

.ZAR .divider:before {
  content: ","; }
.ZAR .price-display:before {
  content: "R"; }
.ZAR .price-display:after {
  content: ""; }
.ZAR *[class^="cents"]:before {
  content: "."; }

.PLN .divider:before {
  content: " "; }
.PLN .price-display:before {
  content: ""; }
.PLN .price-display:after {
  content: "zł"; }
.PLN *[class^="cents"]:before {
  content: ","; }

.GBP .divider:before {
  content: ","; }
.GBP .price-display:before {
  content: "£"; }
.GBP .price-display:after {
  content: ""; }
.GBP *[class^="cents"]:before {
  content: "."; }

.EUR .divider:before {
  content: " "; }
.EUR .price-display:before {
  content: "€"; }
.EUR .price-display:after {
  content: ""; }
.EUR *[class^="cents"]:before {
  content: ","; }

.CNY .divider:before {
  content: ","; }
.CNY .price-display:before {
  content: "¥"; }
.CNY .price-display:after {
  content: ""; }
.CNY *[class^="cents"]:before {
  content: "."; }

.JPY .divider:before {
  content: ","; }
.JPY .price-display:before {
  content: "¥"; }
.JPY .price-display:after {
  content: ""; }
.JPY *[class^="cents"]:before {
  content: "."; }

.INR .divider:before {
  content: ","; }
.INR .price-display:before {
  content: "₹"; }
.INR .price-display:after {
  content: ""; }
.INR *[class^="cents"]:before {
  content: "."; }

.AED .divider:before {
  content: ","; }
.AED .price-display:before {
  content: ""; }
.AED .price-display:after {
  content: "د.إ"; }
.AED *[class^="cents"]:before {
  content: "."; }
